/node_modules/
.DS_Store
/vendor/
**/.DS_STORE
*.log
/yarn-error.log
/client-temp
/*.env
/public/*.min.*
/public/*.min.*
!/public/fa.min.js
/build
/zipped
.jsbeautifyrc
/data
/.ssh
/.ebextensions
.nyc_output/
/server/certs
/.nyc_output